@charset "UTF-8";

* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
  padding: 0px;
}

html, body {
  background-color: #5f2c82;
  height: 100vh;
  width: 100vw;
}

main {
  height: 100vh;
  position: relative;
  width: 100vw;
}

section#login {
  background-color: white;
  border-radius: 20px;
  height: 500px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transition: width 0.3s, heigth 0.3s;
  transition-timing-function: ease;
  transform: translate(-50%, -50%);
  width: 310px;
}

section#login > div#imagem {

  background: #5f2c82 url(../imagens/metal.jpg) no-repeat;
  background-position: left top;
  background-size: cover;
  display: block;
  height: 250px;
}

section#login > div#formulario {
  display: block;
  padding: 10px;
}

div#formulario > h1 {
  text-align: center;
  margin-bottom: 10px;
}
 div#formulario > p {
  font-size: 0.8em;
}
